<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Invalid token. Please log in again.</h2>
    <button onclick=getLogin()>Login</button>
</body>
<script>
    function getLogin(){
window.location.href="/login"
    }
</script>
</html>