<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        Login or Signup First
    </h2>
    <button onclick=getLogin()>Login</button>
    <button onclick=getSignup()>Signup</button>
</body>
<script>
    function getLogin(){
window.location.href="/login"
    }
    function getSignup(){
window.location.href="/signup"
    }
</script>
</html>