<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="css/output.css">
</head>
<body>
  <h1>Registered successfully</h1>
  <div class="flex items-center justify-center min-h-screen bg-gray-100">

    <div class="w-full max-w-md p-8 bg-white shadow-md rounded-lg">
      
      <h2 class="text-2xl font-bold mb-6 text-center text-gray-700">Login</h2>
      <form id="loginForm" action="/login" method="post">
        
        <div class="mb-4">
          <label for="username" class="block text-gray-600 font-semibold mb-2">USERNAME</label>
          <input
            id="username"
            type="text"
            name="username" 
            class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
          />
        </div>
        <div class="mb-6">
          <label for="password" class="block text-gray-600 font-semibold mb-2">PASSWORD</label>
          <input
            id="password"
            type="password"
            name="password" 
            class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
          />
        </div>
        <button
          type="submit"
          class="w-full px-4 py-2 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
          Login
        </button>
        <!-- <a href="/forgotPassword" class="no-underline text-blue-500 hover:text-blue-700">Forgot Password?</a> -->

      </form>
    </div>
  </div>
  



 

</body>
</html>
